<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060335464182-t1f3jts4q8kfah5e5osdnohpcsd7jepk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060335464182-t1f3jts4q8kfah5e5osdnohpcsd7jepk</string>
	<key>API_KEY</key>
	<string>AIzaSyAuMspC8K7lx5NEm1N6gCJPHRYX-6oYyNc</string>
	<key>GCM_SENDER_ID</key>
	<string>1060335464182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blue.macho.RaisingChildrenRecord</string>
	<key>PROJECT_ID</key>
	<string>childraisingdiary</string>
	<key>STORAGE_BUCKET</key>
	<string>childraisingdiary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060335464182:ios:a90f2ed71d83f4f0</string>
	<key>DATABASE_URL</key>
	<string>https://childraisingdiary.firebaseio.com</string>
</dict>
</plist>